body {
    background-color: gray;
}

#wrapper {
    margin: 1em auto;
    width: 960px;
    border: 5px solid blue;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto auto auto;
}

nav {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: none;
    grid-column: span 10;
    margin: 0px;
    background-color: white;
    max-width: 960px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 16%);
    padding-bottom: none;
}

nav ul {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: none;
    margin: 0px;
    padding: 0px;
}

nav li {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: none;
    margin: 0px;
    width: 220px;
    padding: 0px;
    list-style-type: none;
    display: inline-block;
}

nav li a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: none;
    text-align: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
    color: lightskyblue;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 0px;
    padding-top: 30px;
    margin: 0px;
    height: 50px;
}

header {
    padding: 5px, 5px, 0px, 5px;
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(23, 180, 247);
    margin: 0px;
    font-style: italic;
    grid-column: span 10;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 16%);
}

header a {
    font-style: none;
    color: rgb(23, 180, 247);
    text-decoration: none;
}

header a:visited {
    color: darkblue;
}

header a:hover {
    color: white;
}

.column1 {
    display: block;
    width: 33.33%;
    margin: 15px;
}

.column2 {
    display: block;
    width: 33.33%;
    margin: 15px;
}

.column3 {
    display: block;
    width: 33.33%;
    margin: 15px;
}
.column1 a {
    color: red;
}

.column2 a {
    color: red;
}

.column3 a {
    color: red;
}

.headerunderline {
    color: blue;
    border-bottom: 5px solid blue;
    width: 100px;
}

h1 {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-weight: 400;
}

.floatimageleft {
    float: left;
    width: 350px;
    margin-right: 1em;
    border: 5px solid blue;
}

.floatimageright {
    float: right;
    width: 350px;
    margin-right: 1em;
    border: 5px solid blue;
}

.white {
    margin: 0px 15px 15px 15px;
    grid-column: span 6;
}

.white a {
    text-decoration: none;
    color: red;
    font-weight: bold;
}

.white a:hover {
    color: white;
}

.white a:visited {
    color: darkblue;
}

.yellow {
    color: blue;
    border-bottom: 3px solid blue;
    margin: 15px;
}

.black {
    border-bottom: 3px solid black;
    margin: 15px 0px 15px 0px;
}

.blue {
    font-family: Georgia, Arial, serif;
    font-weight: bold;
    grid-column: span 4;
    margin: 0px;
    color: white;
    background-color: rgb(65, 161, 239);
}

.grey {
    font-family: Georgia, Arial, serif;
    text-align: justify;
    color: black;
    padding: 15px;
    font-style: none;
}

footer {
    border-top: 5px solid blue;
    background-color: red;
    grid-column: span 10;
    padding: 5px;
}